/* Tùy chỉnh sidebar */
#wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar-wrapper {
    width: 250px;
    min-height: 100vh;
}

#page-content-wrapper {
    width: 100%;
    padding: 20px;
}

#menu-toggle {
    margin-left: 15px;
}

.toggled #sidebar-wrapper {
    width: 0;
    display: none;
}

/* Tùy chỉnh navbar */
.navbar {
    background-color: #f8f9fa !important;
}

.navbar .btn {
    margin-left: 20px;
}

.container-fluid {
    margin-top: 30px;
}

